.merimag-header-content {
	border-bottom: 0;
	border-top: 0;
}
.merimag-main-navigation {
	background: transparent;
	border-top: 5px solid;
	border-bottom: 5px solid;
}

.merimag-main-navigation .menu > li > a > span.menu-item-content, .merimag-main-navigation .custom-menu-item-content {
	margin: -5px 0;
}
.merimag-site-navigation.merimag-main-navigation.effect-border-top .menu > li.menu-item > a span:before,
.merimag-site-navigation.merimag-main-navigation.effect-close-border-top .menu > li.menu-item > a span:before,
.merimag-site-navigation.merimag-main-navigation.effect-border-bottom .menu > li.menu-item > a span:before,
.merimag-site-navigation.merimag-main-navigation.effect-close-border-bottom .menu > li.menu-item > a span:before,
.merimag-site-navigation.merimag-main-navigation.effect-background-close-border-top .menu > li.menu-item > a span:before {
	height: 5px;
}
.merimag-main-navigation .menu > li > .sub-menu,
.merimag-main-navigation .menu > li > .mega-menu > .sub-menu {
	border-top-width: 5px;
}
