
.icon-menu-1:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-equalizer:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-torso:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-view-mode:before { content: '\e808'; } /* '' */
.icon-play-circled:before { content: '\e809'; } /* '' */
.icon-play:before { content: '\e80a'; } /* '' */
.icon-lock:before { content: '\e80b'; } /* '' */
.icon-clock:before { content: '\e80c'; } /* '' */
.icon-clock-1:before { content: '\e80d'; } /* '' */
.icon-lock-1:before { content: '\e80e'; } /* '' */
.icon-clock-alt:before { content: '\e80f'; } /* '' */
.icon-mail-1:before { content: '\e810'; } /* '' */
.icon-dot-3:before { content: '\e811'; } /* '' */
.icon-login:before { content: '\e812'; } /* '' */
.icon-at:before { content: '\e813'; } /* '' */
.icon-at-circled:before { content: '\e814'; } /* '' */
.icon-tags:before { content: '\e815'; } /* '' */
.icon-tag:before { content: '\e816'; } /* '' */
.icon-tag-1:before { content: '\e817'; } /* '' */
.icon-tag-empty:before { content: '\e818'; } /* '' */
.icon-tags-1:before { content: '\e819'; } /* '' */
.icon-tag-2:before { content: '\e81a'; } /* '' */
.icon-tag-3:before { content: '\e81b'; } /* '' */
.icon-tag-4:before { content: '\e81c'; } /* '' */
.icon-search-1:before { content: '\e81d'; } /* '' */
.icon-menu-3:before { content: '\e81e'; } /* '' */
.icon-user-3:before { content: '\e81f'; } /* '' */
.icon-user-4:before { content: '\e820'; } /* '' */
.icon-quote:before { content: '\e821'; } /* '' */
.icon-quote-circled:before { content: '\e822'; } /* '' */
.icon-quote-1:before { content: '\e823'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-chat:before { content: '\e877'; } /* '' */
.icon-tags-2:before { content: '\e87f'; } /* '' */
.icon-tag-5:before { content: '\e880'; } /* '' */
.icon-user-1:before { content: '\e89e'; } /* '' */
.icon-bag:before { content: '\e8a1'; } /* '' */
.icon-th-large-2:before { content: '\e8aa'; } /* '' */
.icon-picture-2:before { content: '\e8b2'; } /* '' */
.icon-quote-left-1:before { content: '\e8f0'; } /* '' */
.icon-quote-left-alt:before { content: '\e8f1'; } /* '' */
.icon-quote-right-1:before { content: '\e90c'; } /* '' */
.icon-quote-right-alt:before { content: '\e90d'; } /* '' */
.icon-chat-1:before { content: '\e927'; } /* '' */
.icon-comment-alt-1:before { content: '\e92f'; } /* '' */
.icon-menu-2:before { content: '\f008'; } /* '' */
.icon-login-1:before { content: '\f02c'; } /* '' */
.icon-user-2:before { content: '\f061'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-spinner1:before { content: '\f528'; } /* '' */
.icon-spinner2:before { content: '\f529'; } /* '' */