.merimag-top-navigation {
	border-top: 1px solid;
	border-bottom: 1px solid;
}
.site-content-area-style {
	border: 1px solid;
}
.general-box-container:not(.ignore-general-style) {
	padding: 30px;
	border:1px #d1d1d1 solid;
}